{
  'version': 'v1',
  'config': {
    'visState': {
      'filters': [],
      'layers': [{
        'id': '{{ id_ }}',
        'type': 'geojson',
        'config': {
          'dataId': '{{ name }}',
          'label': '{{ name }}',
          {% if fill_color is not none %}
          'color': {{ fill_color }},
          {% endif %}
          'columns': {
            'geojson': 'geometry'
          },
          'isVisible': True,
          'visConfig': {
            {% if opacity is not none %}
            'opacity': {{ fill_opacity }},
            {% endif %}
            {% if stroke_thickness is not none %}
            'thickness': {{ stroke_thickness }},
            {% endif %}
            {% if stroke_color is not none %}
            'strokeColor': {{ stroke_color }},
            {% endif %}
            'colorRange': {
              'name': 'Global Warming',
              'type': 'sequential',
              'category': 'Uber',
              'colors': ['#5A1846',
                '#900C3F',
                '#C70039',
                '#E3611C',
                '#F1920E',
                '#FFC300'
              ]
            },
            'strokeColorRange': {
              'name': 'Global Warming',
              'type': 'sequential',
              'category': 'Uber',
              'colors': ['#5A1846',
                '#900C3F',
                '#C70039',
                '#E3611C',
                '#F1920E',
                '#FFC300'
              ]
            },
            'radius': 10,
            'sizeRange': [0, 10],
            'radiusRange': [0, 50],
            'heightRange': [0, 500],
            'elevationScale': 5,
            'stroked': True,
            'filled': True,
            'enable3d': False,
            'wireframe': False
          },
          'textLabel': [{
            'field': None,
            'color': [255, 255, 255],
            'size': 18,
            'offset': [0, 0],
            'anchor': 'start',
            'alignment': 'center'
          }]
        },
        'visualChannels': {
          'colorField': None,
          'colorScale': 'quantile',
          'sizeField': None,
          'sizeScale': 'linear',
          'strokeColorField': None,
          'strokeColorScale': 'quantile',
          'heightField': None,
          'heightScale': 'linear',
          'radiusField': None,
          'radiusScale': 'linear'
        }
      }],
      'interactionConfig': {
        {% if tooltip is not none %}
        'tooltip': {
          'fieldsToShow': {
            '{{ name }}': {{ tooltip }}
          },
          'enabled': True
        },
        {% endif %}
        'brush': {
          'size': 0.5,
          'enabled': False
        }
      },
      'layerBlending': 'normal',
      'splitMaps': [],
      'animationConfig': {
        'currentTime': None,
        'speed': 1
      }
    },
    'mapState': {
      'bearing': 0,
      'dragRotate': False,
      'latitude': 24.832950854738186,
      'longitude': 40.07812500003037,
      'pitch': 0,
      'zoom': 0,
      'isSplit': False
    },
    'mapStyle': {
      'styleType': 'dark',
      'topLayerGroups': {},
      'visibleLayerGroups': {
        'label': True,
        'road': True,
        'border': False,
        'building': True,
        'water': True,
        'land': True,
        '3d building': False
      },
      'threeDBuildingColor': [9.665468314072013,
        17.18305478057247,
        31.1442867897876
      ],
      'mapStyles': {}
    }
  }
}